<form action="/admin/products/delete/<%= product[0].product_id %>" method="post" class="delete">
    <table>
        <tr>
            <td>ID:</td>
            <td><%= product[0].product_id %></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><%= product[0].name %></td>
        </tr>
        <tr>
            <td>Inventory Amt:</td>
            <td><%= product[0].inventory %></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td><%= product[0].category %></td>
        </tr>
        <tr>
            <td>
                Images: 
            </td>
            <td>
                <% for(let i=0; i<product.length; i++){ %>
                    <img src="../../public/images/<%= product[i].name %>" alt="">    
                <% } %>
            </td>
        </tr>
    </table>
    <div>
        <label for="delete">Confirm Delete:</label>
        <input class="btn btn-danger" type="submit" value="DELETE">
        <input class="btn btn-warning cancel" value="Cancel">
    </div>

</form>

<script src="../../public/jquery/admin_products.js"></script>