<%- include("../partials/userheader") %>

    <div class="container">
        <div class="row">
            <div class="col-2">
                <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                    <div class="input-group">
                        <input type="search" placeholder="Search By Item" aria-describedby="button-addon1"
                            class="form-control border-0 search">
                        <div class="input-group-append">
                            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="side_nav_category">
                    <h3>Browse By:</h1>
                        <ul>
                        <% for(var i=0; i<filter.length; i++){ %>
                            <a href="/products/<%= filter[i].name %>"><li><%= filter[i].name %></li></a> 
                        <% } %>
                        </ul>
                </div>
            </div>

            <div class="col-10 product_thumbnail">
                <% if(category){ %>
                    <h1><%= category %></h1>
                    
                <% }else { %>
                    <h1>All Products</h1>
                <% } %>

                <div class="row">
                    <% for( var i=0; i<products.length; i++){ %>
                        <div class="col-3">
                            <a href="/products/shop/<%= products[i].id %>"><img src="../../public/images/<%= products[i].image %>" alt="shirt">
                                <p>
                                    <%= products[i].product %>
                                </p>
                                <p>
                                    $<%= products[i].price %>
                                </p>
                            </a>
                        </div>
                    <% } %>
                </div>
            </div>
            <!-- end of row -->
        </div>
    </div>

    <%- include("../partials/footer") %>