<%- include("../../partials/adminheader") %>

    <div class="container order_index">
        <h1>Orders</h1>
        <div class="row justify-content-between">
            <form class="form-inline">
                <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success col-3" type="submit">Search</button>
            </form>
            <div class="form-group col-2">
                <select class="form-control col-12" name="sort">
                    <option>--</option>
                    <option>A-Z</option>
                    <option>Most Recent</option>
                    <option>Highest Value</option>
                </select>
            </div>
        </div>
        <div class="row">
            <table class="table-striped">
                <thead>
                   <tr>
                      <th scope="col">ORDER ID</th>
                      <th class="col">NAME</th>
                      <th scope="col">DATE</th>
                      <th scope="col">SHIPPING COST</th>
                      <th scope="col">TOTAL</th>
                      <th scope="col">STATUS</th>
                   </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i<orders.length; i++){ %>
                        <tr>
                            <td><a href="/admin/orders/<%= orders[i].id %>"><%= orders[i].id %></a></td>
                            <td><%= orders[i].first_name %></td>
                            <td><%= orders[i].created_at %></td>
                            <td>$<%= orders[i].shipping_cost %></td>
                            <td>$<%= orders[i].total_cost %></td>
                            <td>
                              <div class="form-group">
                                  <select class="form-control" id="sel1">
                                      <option>IN PROCESS</option>
                                      <option>SHIPPED</option>
                                      <option>CANCELLED</option>
                                  </select>
                              </div>
                            </td>
                         </tr>
                    <% } %>
                </tbody>
             </table>
        </div>

    </div>

    <%- include("../../partials/footer") %>