<%- include("../../partials/adminheader") %>

<div class="container product_index">
    <h1>Product Inventory</h1>
    <div class="row justify-content-between">
        <form class="form-inline">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success col-3" type="submit">Search</button>
        </form>
        <div class="form-group col-2">
            <a href="/admin/products/new"><button class="btn btn-success col-12">Add Product</button></a>
        </div>
    </div>
    <div class="row">
      <table class="table-striped">
         <thead>
             <tr>
                 <th scope="col">IMAGE</th>
                 <th scope="col">ID</th>
                 <th scope="col">NAME</th>
                 <th scope="col">CATEGORY</th>
                 <th scope="col">INVENTORY AMT</th>
                 <th scope="col">ACTION</th>
             </tr>
         </thead>
         <tbody>
             <% for(var i=(page - 1) * 10; i<10 * page; i++){ %>
                 <tr>
                     <td><img src="https://images.unsplash.com/photo-1589359096049-85292b87bf51?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2FzaG1lcmUlMjBzd2VhdGVyfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60"
                             alt=""></td>
                     <td>
                         <%= products[i].id %>
                     </td>
                     <td>
                         <%= products[i].product %>
                     </td>
                     <td>
                         <%= products[i].category %>
                     </td>
                     <td>
                         <%= products[i].inventory %>
                     </td>
                     <td><a href="/admin/products/edit/<%= products[i].id %>">EDIT</a> | <a href="/admin/products/delete/<%= products[i].id %>" class="delete_btn">DELETE</a></td>
                 </tr>
                 <% } %>
         </tbody>
     </table>
     <div> 
         <p>Page: <a href="/admin/products/<%= 1 %>"><%= 1 %></a>
             <% for(var i=2; i<(products.length)/10; i++){ %>
                 |<a href="/admin/products/<%= i %>"><%= i %></a>
             <% } %> 
     
         </p>
     </div>
    </div>
    <div class="delete_form">
      <!-- confirm delete form partial goes here -->
    </div>
    
</div>

<script src="../../public/jquery/admin_products.js"></script>
<%- include("../../partials/footer") %>